<div class="containter m-5" >
        <div class="row">
            <div col-6>
            <%= form_for @artist do |a| %>
                <div>
                    <%= a.label :name %><br>
                    <%= a.text_field :name %>
                </div>
                <br>
                <div>
                    <%= a.label :image_url %><br>
                    <%= a.text_area :image_url %>
                </div>
                <br>
                <div>
                    <%= a.submit class:"btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

