<div class="containter m-5" >
    <div class="row">
        <h1><%= @artist.name %></h1>
        <div class="col-md-1">
            <% @artist.albums.each do |album| %>
            <div class="card">
                <img src="<%= album.image_url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= album.name %></h5>
                    <h5 class="card-title"><%= album.image_url %></h5>
                </div>
            </div>
            <% end %>
        </div>
        <div class="col-md-4 offset-8">
            <img src="<%= @artist.image_url %>" class="card-img-top" style="width: 100%" alt="...">
        </div>
    </div>
</div>
